@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
    width: 100%;
    height: 100%;
}

[x-cloak] { display: none !important; }

:root {
    --primary-color: #010035;
    --secondary-color: #E4D881;
    --green : #36DA94;
    --white: #F1EFEA;
}

body {
    background-color: var(--white);
}

.btn:disabled {
    @apply opacity-75;
}

.text--primary {
    color: var(--primary-color);
}

.bg--primary {
    background-color: var(--primary-color);
}
.text-secondary{
    color: var(--secondary-color);
}

.bg--secondary {
    background-color: var(--secondary-color);
}
.progress-bar{
    background-color: var(--green);
}

.btn--primary {
    @apply text-white;
    background-color: var(--primary-color);
}

.btn--white {
    @apply bg-white;
    color: var(--primary-color);
}

a {
    @apply underline text-blue-600;
}

.min-h-body {
    min-height: calc(100vh - 72px);
}

.btn-checkbox:checked + * {
    background-color: var( --secondary-color);
    color:var(--primary-color);
}

.btn-checkbox:checked + * img {
    filter: invert(1);
    -webkit-filter: invert(1);
    filter:progid:DXImageTransform.Microsoft.BasicImage(invert='1');
}

.btn-checkbox + * {
    background-color: rgba(58, 81, 82, 0.05);
    color:var(--primary-color);
}
.bg-grey {
    background-color: rgba(58, 81, 82, 0.05);
}
.bg-input{
    background-color: var(--white);
}
.border-grey{
    border:1px solid rgba(1, 0, 53, 0.2)
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .m-15 {
        margin-bottom:40px;
    }
}
    
